@model AdMedWeb.Models.Resident

@{
    ViewData["Title"] = "Resident Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <div id="leftContent">
        <div style="font-size: 20px; margin-left: 10%; margin-right: 10%; margin-top: 1%;">
            <h1>Resident Information</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Allergies)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Allergies)
                </dd>
                <dt class="col-sm-6">
                    Date of Birth
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.DateOfBirthString)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.IdentityNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.IdentityNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.MedicalAid)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MedicalAid)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.MedicalAidNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MedicalAidNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.DoctorName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.DoctorName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.HomeTelephoneNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.HomeTelephoneNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.WorkTelephoneNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.WorkTelephoneNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.CellTelephoneNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CellTelephoneNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Undertaker)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Undertaker)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.UndertakerTelephoneNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.UndertakerTelephoneNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PharmacyName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PharmacyName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PharmacyTelephoneNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PharmacyTelephoneNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PharmacyFaxNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PharmacyFaxNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.RoomNumber)
                </dt>
                <dd class="col-sm-6">
                    Room @Html.DisplayFor(model => model.RoomNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div id="rightContent">
        <div style="font-size: 20px; margin-left: 10%; margin-right: 10%; margin-top: 1%;">
            <h1>Primary Contact Information</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.FirstName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.FirstName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.LastName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.LastName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.Relationship)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.Relationship)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.PhysicalAddress)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.PhysicalAddress)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.PostalAddress)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.PostalAddress)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.PostCode)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.PostCode)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.IdentityNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.IdentityNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.HomeTelephoneNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.HomeTelephoneNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.WorkTelephoneNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.WorkTelephoneNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.CellTelephoneNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.CellTelephoneNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PrimaryContact.Email)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrimaryContact.Email)
                </dd>
            </dl>
        </div>
    </div>
}
else
{
    <h4 style="color: red;">No Resident Information Available</h4>
}
